<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <title>Getting Started</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<center>
<h1>Guestbook</h1>
<form action="#" th:action="@{/greeting}" th:object="${person}" method="post">
    <p>First: <input type="text" th:field="*{firstName}" /></p>
    <p>Last: <input type="text" th:field="*{lastName}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</center>
</body>
</html>